.advBar{
    color:#333333;
    letter-spacing: 1.5px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 200;
    font-family: graphik, helvetica, sans-serif;
    background-color: #FBF8F6;
    padding: 10px;
}
.signup_span{
    text-decoration: underline;
}
.signup_span:hover{
    color: red;
    cursor: pointer;
}